<!DOCTYPE html>
<html>
  <head>
    <!-- important: otherwise chrome will choke on non-ascii characters -->
    <meta charset="utf-8" />
    <style>
      <%= SiteDiff::Diff.css %>
    </style>
    <title> SiteDiff Report </title>
  </head>
  <body>
    <div class="sitediff">
      <div class="legend">
        <%
           tags = %w[before after]
           tags.each do |tag| %>
             <% if tags.first != tag %> | <% end %>
             <% notes = ['base url']
                notes << 'cached' if cache.read_tags.include?(tag.to_sym) %>
             <strong><%= tag %></strong> (<%= notes.join(', ') %>):
               <a href="<%= eval(tag) %>"><%= eval(tag) %></a>
        <% end %>
      </div>
      <table class="results">

        <colgroup>
          <col class="before-col">
          <col class="after-col">
          <col class="both-col">
          <col class="path-col">
          <col class="diff-stat-col">
        </colgroup>

        <thead>
          <tr>
            <th> Before </th>
            <th> After </th>
            <th> Both </th>
            <th> Path </th>
            <th> Status </th>
          </tr>
        </thead>

        <% results.each do |result| %>
        <tr class="<%= result.status_text %>">
          <td class="before">
            <a href="<%= result.url(:before, before, cache) %>">[before]</a>
          </td>
          <td class="after">
            <a href="<%= result.url(:after, after, cache) %>">[after]</a>
          </td>
          <td class="both">
            <a href="/sidebyside<%= result.path %>">[both]</a>
          </td>
          <td class="path"><%= result.path %></td>
          <td class="status"><%= result.link %></td>
        </tr>
        <% end %>

      </table>
    </div>
  </body>
</html>
